@import "tailwindcss";

* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.leaflet-top.leaflet-right {
  top: 100px !important;
  right: 14px !important;
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Remove popup content margin */
.leaflet-popup-content {
  margin: 0 !important;
}

/* Remove popup wrapper padding if desired */
.leaflet-popup-content-wrapper {
  padding: 0 !important;
  overflow: hidden;
  border-radius: 12px; /* optional */
}

/* Remove the close button spacing (optional) */
.leaflet-popup-close-button {
  padding: 4px !important;
}

.radar-marker {
  position: relative;
  width: 60px;
  height: 60px;
}

.radar-marker img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
  user-select: none;
}

.radar-ping {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: currentColor;
  opacity: 0;
  transform: scale(0);
  animation: radarPulse 2s infinite ease-out;
}

@keyframes radarPulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 16px;
}

.leaflet-popup-content {
  margin: 12px;
}

.leaflet-popup-close-button {
  background: red !important;
  color: white !important;
  border-radius: 50%;

  width: 32px !important;
  height: 32px !important;

  font-size: 22px !important;
  line-height: 32px !important;
  text-align: center;

  top: 9px !important; /* move circle down */
  right: 8px !important;

  padding: 0 !important;
}

.leaflet-popup-close-button:hover {
  background: red !important;
  color: white !important;
}
